@page "/pattern/{slug}/{id}"
@model LojaAmigurumi.Pages.DetailsModel

    <h2 class="my-3">@Model.Pattern.PatternName</h2>

    <div class="row">

        <div class="col-4">
            <img class="img-fluid rounded" src="@Model.Pattern.PatternImageUri">
        </div>

        <div class="col-6">
            <h4 class="my-3">Sobre:</h4>
            <p>@Model.Pattern.PatternDescription</p>
            <h4 class="my-3">Mais Info:</h4>
            <ul>
                <li><label asp-for="Pattern.PatternPrice"></label>: @Html.DisplayFor(model => model.Pattern.PatternPrice)</li>
            </ul>
            <a class="btn my-3 btn-primary"
            asp-page="Editar" asp-route-id="@Model.Pattern.PatternId">Editar</a>
        </div>
</div>
