@page
@model IndexModel
@{
    ViewData["Title"] = "Miigu by Mia";
}
<div class="row justify-content-md-center">
    <div class="text-center">
        <h1 class="display-4">Bem vindo!</h1>
        <p>Aqui você encontra receitas fáceis de seguir para criar vários amigurumis.</p>
    </div>
    @foreach(var item in Model.ListaPattern)
    {
        <div class="card col-3 m-3">
            <img src="@item.PatternImageUri" class="p-3" style="border-radius: 25px">
            <div class="card-body">
                <h5 class="card-title">@item.PatternName</h5>
                <p class="card-text">@item.PatternDescription</p>
                <a class="btn btn-primary"
                   asp-page="/Receitas/Detalhes"
                   asp-route-id="@item.PatternId"
                   asp-route-slug="@item.PatternSlug">Ver mais</a>
            </div>
        </div>
    } 
</div>
